*{
    margin:0px;
    
}



body{
 
} 

.elso td{
    padding: 10px;
    background-color: rgb(44, 44, 44);
    color: white;
    margin: 0;
    text-align: center;
    width: 45px;
    height: 45px;
}
.elso th{
    background-color: black;
    color: white;
}
.vilagos {
    background-color: rgba(255, 255, 255, 0.753);
}
.sotet {
    background-color: rgba(255, 255, 255, 0.185);
}
.elso img {
    width: 100%;
    height: auto;
}
